body {
  font: 13px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
  stroke-width: 0;
}

.tooltip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 14px;
    text-align: left;
/*            Following line is critical to make tooltip follow mouse*/
    pointer-events: none;
    color: white;
}

h1 {
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #d62728;
}